.wp-block-dbe-button-block {
	margin: 30px auto;
	max-width: 100%;
}
.dbe-button-container {
	max-width: 100%;
	display: flex;
	padding: 10px 0;
	margin: 20px 0;
}
.dbe-button-container a.dbe-button-block-main.dbe-button-block-main,
.dbe-button-container a.dbe-button-block-btn.dbe-button-block-btn {
	text-decoration: none;
}
.dbe-button-full-container {
	width: 100%;
}
.dbe-button-block-main {
	display: flex;
	cursor: pointer;
	transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.align-button-center {
	justify-content: center;
}
.align-button-left {
	justify-content: flex-start;
}
.align-button-right {
	justify-content: flex-end;
}
.dbe-button-small {
	width: 180px;
	padding: 10px;
	font-size: 13px !important;
}
.dbe-button-medium {
	width: 275px;
	padding: 15px;
	font-size: 17px !important;
}
.dbe-button-large {
	width: 417px;
	padding: 20px;
	font-size: 22px !important;
}
.dbe-button-larger {
	width: 512px;
	padding: 20px;
	font-size: 25px !important;
}
.dbe-button-flex-small {
	width: fit-content;
	width: -moz-fit-content;
}
.dbe-button-flex-medium {
	width: fit-content;
	width: -moz-fit-content;
}
.dbe-button-flex-large {
	width: fit-content;
	width: -moz-fit-content;
}
.dbe-button-flex-larger {
	width: fit-content;
	width: -moz-fit-content;
}
.dbe-button-block-btn {
	text-align: center;
	color: inherit;
	margin: 0 10px;
}
.dbe-button-content-holder {
	display: flex;
	margin: 0 auto;
}
.dbe-button-icon-holder {
	display: flex;
	align-items: center;
	padding: 0 2px;
}
.dbe-button-full-width {
	width: 100%;
}
.dbe-buttons {
	margin: 20px 0;
}
.dbe-buttons.align-button-center {
	text-align: center;
}
.dbe-buttons.align-button-left {
	text-align: left;
}
.dbe-buttons.align-button-right {
	text-align: right;
}
.dbe-buttons > .dbe-button-container {
	display: inline-block;
	margin: 0 10px;
}
@media (max-width: 599px) {
	.dbe-button-flex-small {
		min-width: 70%;
	}
	.dbe-button-flex-medium {
		min-width: 80%;
	}
	.dbe-button-flex-large {
		min-width: 90%;
	}
	.dbe-button-flex-larger {
		min-width: 100%;
	}
}
