.wp-block-dbe-social-share .social-share-icons {
	.social-share-icon {
		cursor: move;
		transition: all 0.2s ease-in-out;
	}
}

.dbe-social-share-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
