@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollbar-hide.scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrollbar-hide.scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scrollbar::-webkit-scrollbar-track:hover {
    background: transparent;
  }

  .sidebar-dashboard {
    height: calc(100vh - 80px);
  }

  div.search-scroller::-webkit-scrollbar {
    @apply hidden;
  }

  div.search-scroller::-webkit-scrollbar-track {
    @apply bg-background;
  }

  div.search-scroller::-webkit-scrollbar-thumb {
    @apply bg-background/60 rounded;
  }

  div.search-scroller {
    scrollbar-color: white gray;

    scrollbar-width: thin;
  }

  .search-result[aria-expanded="false"] {
    @apply hidden h-0 w-0 opacity-0;
  }

  .search-result[aria-expanded="true"] {
    animation-name: animationSearchResult;
    animation-duration: 400ms;
  }

  .list-price {
    @apply relative;
  }

  input[type="radio"]:checked + .item-price {
    background-color: rgb(203 213 225);
  }

  .item-price .price-check {
    @apply hidden;
  }

  input[type="radio"]:checked + .item-price .price-check {
    @apply block;
  }

  .dark input[type="radio"]:checked + .item-price {
    background-color: rgb(122 122 122);
  }

  .breadcrumb-topup ol {
    @apply grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 10px;
  }

  .img-skeleton {
    @apply bg-[url('/image/imgloader.gif')] bg-cover;
  }

  .post-card-thumbnail:hover img {
    @apply scale-150;
  }

  .article-body {
    @apply text-lg leading-7;
  }

  .article-divider:not(:first-child):before {
    @apply block h-[35px] w-full;
    content: "";
    background: rgba(0, 0, 0, 0.01)
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQYV2NkwAIYqSy4YMGC/wAIQwLlE7lczAAAAABJRU5ErkJggg==);
    margin: 0 0 50px;
  }

  .article-body h1,
  .article-body h2,
  .article-body h3,
  .article-body h4,
  .article-body h5,
  .article-body h6,
  .download-body h1,
  .download-body h2,
  .download-body h3,
  .download-body h4,
  .download-body h5,
  .download-body h6 {
    @apply text-foreground my-4 font-bold;
  }

  .article-body h1,
  .download-body h1 {
    @apply text-2xl md:text-4xl;
  }

  .article-body h2,
  .download-body h2 {
    @apply text-xl md:text-3xl;
  }

  .article-body h3,
  .download-body h3 {
    @apply text-lg md:text-2xl;
  }

  .article-body h4,
  .download-body h4 {
    @apply text-base md:text-xl;
  }

  .article-body a,
  .download-body a {
    @apply text-primary/80 hover:text-primary/90 duration-200;
  }

  .article-body {
    @apply pt-4;
  }

  .article-body p,
  .download-body p {
    @apply text-foreground break-all text-base leading-[24px] md:text-lg md:leading-[32px];
  }

  .article-body p:not(:last-child) {
    @apply mb-6;
  }

  .article-body img,
  .download-body img {
    @apply h-auto max-h-full max-w-full rounded-md;
  }

  .wp-block-quote,
  .article-body blockquote,
  .download-body blockquote {
    @apply border-border bg-primary/20 my-4 rounded-sm border-l-4 p-4 italic;
  }

  .article-body li,
  .download-body li {
    @apply mb-2 ml-6 text-base md:ml-12 md:text-lg;
  }

  .article-body ul,
  .download-body ul {
    position: relative;
  }

  .article-body ul li {
    @apply text-foreground/90 ml-12 list-disc;
  }

  .article-body ol li {
    @apply text-foreground/90 ml-12 list-decimal;
  }

  .article-body figure,
  .download-body figure {
    @apply my-4;
  }

  .article-body iframe,
  .download-body iframe {
    @apply relative m-0 aspect-video h-auto w-full rounded-md align-baseline;
  }

  .article-body figcaption,
  .download-body figcapiton {
    @apply text-center text-xs italic;
  }

  .article-body hr,
  .download-body hr {
    @apply text-foreground/40 mx-4 mb-4;
  }

  .article-body .IRPP_kangoo .ctaText {
    @apply dark:text-[#ffffff9c];
  }

  .article-body .IRPP_kangoo:hover .ctaText,
  .article-body .IRPP_kangoo:hover .postTitle {
    @apply opacity-60 transition-opacity duration-200;
  }

  .article-body .wp-block-table .has-fixed-layout {
    @apply w-full;
    table-layout: fixed;
  }

  .article-body .wp-block-table th,
  .article-body .wp-block-table td {
    @apply border-foreground/80 border p-3;
  }

  .article-body .wp-block-button {
    @apply border-border bg-background text-background relative m-0 inline-flex h-9 min-w-[2.5rem] flex-shrink-0 cursor-pointer select-none appearance-none items-center justify-center whitespace-nowrap rounded-xl border px-4 align-middle text-base font-medium leading-tight shadow-sm outline-none transition-colors duration-75 ease-out focus:outline-none focus:ring-4 focus:ring-purple-300 disabled:cursor-not-allowed disabled:opacity-60 disabled:shadow-none dark:focus:ring-purple-800;
  }

  #ez-toc-container.ez-toc-transparent {
    background: none;
  }

  div#ez-toc-container {
    @apply w-full;
  }

  div#ez-toc-container {
    @apply pr-5;
  }

  #ez-toc-container {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: table;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    width: auto;
  }

  #ez-toc-container > [type="checkbox"],
  .cssicon,
  .cssiconcheckbox {
    @apply hidden;
  }

  .article-body p.ez-toc-title {
    margin-bottom: unset;
    cursor: pointer;
  }

  #ez-toc-container [type="checkbox"] {
    width: 100%;
    position: absolute;
    left: 0;
    height: 30px;
    opacity: 0;
  }

  .ez-toc-title::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    display: inline-block;
    border: 10px solid transparent;
    border-left: 10px solid black;
  }

  .ez-toc-title.open-list::after {
    border-left: 10px solid transparent;
    border-top: 10px solid black;
  }

  p.ez-toc-title {
    position: relative;
    padding-left: 25px;
  }

  #ez-toc-container .ez-toc-list.ez-toc-list-level-1 {
    max-height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #ez-toc-container
    .ez-toc-title.open-list
    ~ nav
    .ez-toc-list.ez-toc-list-level-1 {
    max-height: 100%;
    margin: 10px 0px;
  }

  .ad-inline {
    @apply py-2;
  }

  .dashboard-sidenav.open-sidenav ~ .dashboard-mainmenu {
    @apply pl-[270px] lg:pl-[70px];
  }

  .dashboard-sidenav.open-sidenav.open-sidenav {
    @apply w-[250px] lg:w-[55px];
  }

  .dashboard-mainmenu {
    @apply w-full;
  }

  .article-container {
    @apply space-y-2;
  }

  .article-container a,
  .ProseMirror a {
    @apply text-primary/90 hover:text-primary/80 no-underline duration-200 hover:underline;
  }

  .article-container ul li,
  .ProseMirror ul li {
    @apply ml-12 list-disc;
  }

  .article-container ol li,
  .ProseMirror ol li {
    @apply ml-12 list-decimal;
  }

  .article-container blockquote,
  .ProseMirror blockquote {
    @apply border-border bg-background my-4 rounded-sm border-l-4 p-4 italic;
  }

  .article-container img {
    @apply rounded-md;
  }

  .article-container pre,
  .ProseMirror pre {
    @apply bg-foreground text-background rounded-lg px-3 py-2 font-mono;
  }

  .article-container code,
  .ProseMirror code {
    @apply bg-[none] p-0 text-xs text-[inherit];
  }

  iframe {
    @apply aspect-video h-auto w-full rounded-lg shadow-lg;
  }
}

/* Editor */
.ProseMirror {
  @apply text-foreground min-h-screen min-w-0 items-center space-y-2 px-3 py-2 text-base outline-none focus:outline-none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-foreground/80 pointer-events-none float-left h-0;
  content: attr(data-placeholder);
}

.ProseMirror img {
  @apply rounded-md;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.tippybox {
  @apply !max-w-5xl;
}
