.dbe_tweet {
	display: block;
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: none;
	resize: none;
	background: transparent !important;
	overflow: hidden;
	line-height: 1.4;
	padding: 10px;
	transition: padding 0.2s linear;
}
.dbe_tweet:focus {
	box-shadow: none;
}
.dbe_click_tweet i {
	top: 4px !important;
}
