/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-dbe-block-call-to-action {
	margin: 0 auto;
	max-width: 100%;
}

.dbe_call_to_action {
	box-sizing: border-box;
	width: 100%;
	padding: 0 60px;
	margin: 30px 0 60px 0;
	border-style: solid;
	border-radius: 3px;
	.dbe_call_to_action_button {
		display: flex;
		align-items: center;
		.dbe_cta_button a,
		a.dbe_cta_button {
			text-decoration: none;
		}
	}
}

.dbe_call_to_action_headline {
	width: 100%;
	padding: 20px 20px 10px 20px;
	p,
	h2 {
		text-align: center;
		margin: 0;
		padding: 20px 20px 0 20px;
	}
}

.dbe_call_to_action_content {
	width: 100%;
	padding: 0 0 15px 0;
	p {
		text-align: justify;
	}
}

.dbe_cta_button {
	margin-bottom: -31px !important;
	padding: 20px !important;
	position: relative;
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

.dbe_cta_button_text {
	margin: 0 !important;
	text-align: center;
}

@media (max-width: 1199.98px) {
	.dbe_call_to_action {
		padding: 0 30px;
	}
}

@media (max-width: 991.98px) {
	.dbe_call_to_action {
		padding: 0 20px;
		margin-bottom: 60px !important;
	}
	.dbe_call_to_action_headline {
		padding: 20px 0 0 0;
	}
	.dbe_call_to_action_headline p {
		line-height: 1.3;
		padding: 20px 0;
	}
}

@media (max-width: 320px) {
	.dbe_call_to_action_button .dbe_cta_button_text {
		font-size: 14px !important;
		font-weight: 600;
	}
	.dbe_call_to_action {
		padding: 0 10px;
	}
}
