.dbe-hide {
	display: none;
}
.dbe-hiding {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.dbe-toggle-transition {
	transition: all 0.5s ease-in-out;
}
.dbe-icon-holder {
	position: relative;
	transform: translate(-25%, 25%);
}
.dbe-custom-id-input {
	font-size: 0.9em;
}
@media (max-width: 699px) {
	.dbe-mobile-hide {
		display: none;
	}
	.dbe-mobile-display {
		display: block;
	}
}
@media (min-width: 700px) and (max-width: 899px) {
	.dbe-tablet-hide {
		display: none;
	}
	.dbe-tablet-display {
		display: block;
	}
}
.editor-styles-wrapper .dbe_table-of-contents ul {
	padding-left: 1.3em;
}
.editor-styles-wrapper .dbe_table-of-contents li > div {
	justify-content: space-between;
}
.editor-styles-wrapper .dbe_table-of-contents ul,
.editor-styles-wrapper .dbe_table-of-contents ol {
	margin-bottom: 0;
	grid-area: extra;
}
.editor-styles-wrapper .dbe_table-of-contents ol > li {
	display: grid;
	grid-template-areas: "listicon content buttons" "extra extra extra";
	grid-template-columns: minmax(0, min-content) auto auto;
}
.editor-styles-wrapper .dbe_table-of-contents ol > li::before {
	grid-area: listicon;
	white-space: nowrap;
}
.editor-styles-wrapper .dbe_table-of-contents ol > li > a {
	grid-area: content;
}
.editor-styles-wrapper
	.dbe_table-of-contents
	ol
	> li
	> .dbe_toc_button_container {
	grid-area: buttons;
	margin-left: auto;
}
.editor-block-toolbar .dbe_toc_column_selector.is-primary {
	top: 50%;
	transform: translateY(-50%);
}
.dbe_toc_column_buttons {
	display: flex;
	flex-direction: row;
}
.dbe_table-of-contents-header {
	padding: 15px 30px;
}
.dbe_table-of-contents-container {
	padding: 15px 30px;
}
.dbe_table-of-contents-collapsed .dbe_table-of-contents-header {
	padding: 10px;
	margin-bottom: 0;
}
.dbe_toc_button_container {
	white-space: nowrap;
}
